{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'resumePage/css/style.scss'%}" />
    {% endcompress %}
    <script type="text/javascript" src="{% static 'resumePage/js/resumePage.js' %}"></script>
    <meta charset="utf-8">
    <title>Armand GONTHIER's resume</title>
  </head>
  <body>
    <div class="row">
      <div class="container shadow mb-5 offset-md-2 rounded">
        <div class="top-colors row">
          <div class="top-color color1"></div>
          <div class="top-color color2"></div>
          <div class="top-color color3"></div>
          <div class="top-color color1"></div>
          <div class="top-color color2"></div>
        </div>
        <div class="header-buttons col-md-10 offset-md-1 row">
          <a href="#" class="btn btn-primary"><i class="fas fa-download"></i><span class="hide-text-box"><span class="hide-text dwld">Download my resume</span></span></a>
          <a href="#" class="btn btn-primary"><i class="far fa-envelope"></i><span class="hide-text-box"><span class="hide-text msg">Send me a message</span></span></a>
          <a href="#" class="btn btn-primary"><i class="fas fa-project-diagram"></i><span class="hide-text-box"><span class="hide-text proj">Check out my projects!</span></span></a>
        </div>
        <div class="resume_container row">
          <div class="col-md-4 col-profile_pic">
            <div class="profile_pic">
              <div class="profile_border">
                <div class="img" style="background-image: url({{ intro.profile_pic.url }});">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7 intro">
            <div class="intro title">Hi, I'm <span class="bold">{{ intro.name }} {{ intro.surname }}!</span></div>
            <div class="intro subtitle">{{ intro.profession }}</div>
            <div class="intro description">{{ intro.introduction }}</div>
          </div>
        </div>
        <div class="sections_container row">
          {% for section in sections %}
          <div class="new_section">
            <div class="section_title">{{ section.title }}<hr>
              <div class="dot">
                {% include 'media/resumePage/svg/bullet/circle-solid.svg' %}
              </div>
            </div>
            {% for bullet in section.bullets.all %}
            <div class="section_bullet">
              <div class="bullet_box">
                <div class="bullet_svg">{% include bullet.bulletImage.url %}</div>
              </div>
              <div class="section_bullet_title">{{ bullet.title }}</div>
              {% if bullet.get_related_content == "Text" %}
              <div class="section_bullet_subtitle">{{ bullet.text_content.subtitle }}</div>
              <div class="bullet_content">
                <div class="text_content">{{ bullet.text_content.description|linebreaks|safe }}</div>
              </div>
              {% elif bullet.get_related_content == "Bars" %}
              <div class="bullet_content">
                {% for progress_bar in bullet.bars_content.progress_bars.all %}
                  <div class="progress">
                    <div class="progress-bar {% cycle 'color1' 'color2' 'color3' %}" role="progressbar" style='width:{{progress_bar.percentage}}%;' aria-valuenow="{{progress_bar.percentage}}" aria-valuemin="0" aria-valuemax="100">
                      <div class="skill">{{ progress_bar.text }}</div>
                    </div>
                    <div class="percentage">{{ progress_bar.percentage }}%</div>
                  </div>
                {% endfor %}
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
