body
{
  background-color: grey;
}

.container
{
  background: url("../../../media/resumePage/paper-bg2.png") no-repeat top left;
  background-color: #fafafa;

  margin-top: 50px;
  margin-bottom: 200px;
  width: 975px;
  height: auto;

  .top-colors
  {
    .top-color
    {
      height: 8px;
      width: 20%;
      float: left;
    }
    .color1{background: #249991;}
    .color2{background: #3b658a;}
    .color3{background: #ce5f5f;}
  }

  .header-buttons
  {
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 6px;

    .btn-primary
    {
      background: #3b658a;
      color: #fafafa;
      border: #3b658a;

      &:hover
      {
        background: #194368;
      }
    }

    .btn
    {
      display: flex;

      font-size: 14px;
      margin-right: 4px;

      height: 30px;
      width: 37px;
      padding-top: 8px;

      line-height: normal;
      transition: all 0.3s ease-in-out;

      span
      {
        &.hide-text-box
        {
          padding-top: 1px;
          overflow: hidden;
        }

        &.hide-text
        {
          font-size: 10px;
          max-width: 0;
          vertical-align: top;

          padding-left: 7px;

          white-space: nowrap;

          text-transform: uppercase;
          transition: all 0.4s ease-in-out;

        }
      }

      &:hover span
      {
        max-width: fit-content;
        transition: all 0.4s ease-in-out;
      }
    }
  }

  .resume_container
  {
    height: 245px;
    margin-top: 50px;
    position: relative;
    z-index: 99;

    // background: url(../img/paper-bg2.png) no-repeat top left, url(../img/paper-bg-bot.png) no-repeat bottom right, #fafafa;

    .intro.title
    {
      font-size: 52px;
      color: #444444;
      letter-spacing: -1pt;
      border-bottom: 1px solid #249991;
      padding-bottom: 10px;
      font-weight: 200;
      text-align: left;

      .bold
      {
        color: #249991;
        font-weight: bold;
      }
    }

    .intro.subtitle
    {
      font-size: 20px;
      text-align: left;
      color: #777777;
      margin-top: 10px;
      margin-bottom: 15px;
    }

    .intro.description
    {
      font-size: 14px;
    }

    .col-profile_pic
    {
      .profile_pic
      {
        text-align: center;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        width: 210px;
        height: 210px;
        border: 5px solid #249991;
        overflow: hidden;
        margin: 0 auto;
        background: #fafafa;

        .img
        {
          text-align: center;
          background-size: cover;
          background-position: center;

          width: 188px;
          height: 188px;
          margin-top: 6px;
          margin-left: 6px;

          border-radius: 100%;
          -moz-border-radius: 100%;
          -webkit-border-radius: 100%;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  .sections_container
  {
    background: url("../../../media/resumePage/paper-bg-bot.png") no-repeat bottom right;

    padding-right: 15px;
    padding-left: 15px;

    .new_section
    {
      display: block;
      width: 100%;

      margin-top: 50px;
      margin-left: 243px;

      .section_title
      {
        text-transform: uppercase;
        color: #2a5479;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 20px;

        .section_bullet
        {
          color: #3b658a;
          border-bottom: 1px solid #ccc;
          padding-bottom: 5px;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 20px;
          margin-top: 14px;
        }
      }
    }
  }
}
