body
{
  background-color: grey;
}

.container
{
  background: url("../../../media/resumePage/paper-bg2.png") no-repeat top left;
  background-color: #fafafa;

  margin-top: 50px;
  margin-bottom: 200px;
  width: 975px;
  height: auto;

  .top-colors
  {
    .top-color
    {
      height: 8px;
      width: 20%;
      float: left;
    }
    .color1{background: #249991;}
    .color2{background: #3b658a;}
    .color3{background: #ce5f5f;}
  }

  .header-buttons
  {
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 6px;

    .btn-primary
    {
      background: #3b658a;
      color: #fafafa;
      border: #3b658a;

      &:hover
      {
        background: #194368;
      }
    }

    .btn
    {
      display: flex;

      font-size: 14px;
      margin-right: 4px;

      height: 30px;
      width: 37px;
      padding-top: 8px;

      line-height: normal;
      transition: all 0.3s ease-in-out;

      span
      {
        &.hide-text-box
        {
          padding-top: 1px;
          overflow: hidden;
        }

        &.hide-text
        {
          font-size: 10px;
          max-width: 0;
          vertical-align: top;

          padding-left: 7px;

          white-space: nowrap;

          text-transform: uppercase;
          transition: all 0.4s ease-in-out;

        }
      }

      &:hover span
      {
        max-width: fit-content;
        transition: all 0.4s ease-in-out;
      }
    }
  }

  .resume_container
  {
    height: 245px;
    margin-top: 50px;
    position: relative;
    z-index: 99;

    // background: url(../img/paper-bg2.png) no-repeat top left, url(../img/paper-bg-bot.png) no-repeat bottom right, #fafafa;

    .intro.title
    {
      font-size: 52px;
      color: #444444;
      letter-spacing: -1pt;
      border-bottom: 1px solid #249991;
      padding-bottom: 10px;
      font-weight: 200;
      text-align: left;

      .bold
      {
        color: #249991;
        font-weight: bold;
      }
    }

    .intro.subtitle
    {
      font-size: 20px;
      text-align: left;
      color: #777777;
      margin-top: 10px;
      margin-bottom: 15px;
    }

    .intro.description
    {
      font-size: 14px;
    }

    .col-profile_pic
    {
      color: #CCC;

      .profile_pic
      {
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        width: 210px;
        height: 210px;
        border: 5px solid #249991;
        overflow: hidden;
        margin: 0 auto;
        background: #fafafa;

        .img
        {
          text-align: center;
          background-size: cover;
          background-position: center;

          width: 188px;
          height: 188px;
          margin-top: 6px;
          margin-left: 6px;

          border-radius: 100%;
          -moz-border-radius: 100%;
          -webkit-border-radius: 100%;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  .sections_container
  {
    background: url("../../../media/resumePage/paper-bg-bot.png") no-repeat bottom right;

    padding-right: 15px;
    padding-left: 15px;

    .new_section
    {
      display: block;
      width: 100%;

      margin-top: 50px;
      margin-left: 243px;

      .section_title
      {
        position: relative;

        text-transform: uppercase;
        color: #2a5479;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 20px;

        hr
        {
          position: absolute;
          top: 0;
          left: -95px;

          border-top: 3px solid #CCC;
          width: 50px;
        }

        .dot
        {
          position: absolute;
          top: -7px;
          left: -47px;

          width: 10px;
          color: #CCC;
        }
      }

      .section_bullet
      {
        position: relative;
        width: 90%;

        .bullet_box
        {
          position: absolute;
          left: -121px;

          border: 6px solid #CCC;
          border-radius: 100%;

          width: 50px;
          height: 50px;

          color: #CCC;

          .bullet_svg
          {
            width: 20px;
            margin-left: 9px;
            line-height: 35px;
          }
        }

        .section_bullet_title
        {
          color: #3b658a;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 20px;
          margin-top: 14px;
          margin-bottom: 10px;
          padding-bottom: 5px;
          border-bottom: 1px solid #ccc;
        }

        .section_bullet_subtitle
        {
          font-size: 14px;
          font-weight: bold;
          color: #999999;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .bullet_content
        {
          .text_content
          {
            font-size: 14px;
            line-height: 19px;
            color: #555555;
            margin: 0 0 10px;
          }

          .progress
          {
            display: block;
            position: relative;

            height: 25px;
            margin-bottom: 10px;

            .progress-bar
            {
              &.color1 {background: #249991}
              &.color2 {background: #3b658a}
              &.color3 {background: #ce5f5f}

              .skill
              {
                background-color: rgba(25, 25, 25, 0.2);

                text-align: left;
                font-size: 13px;

                width: fit-content;
                padding: 3px 30px 2px 10px;

                border-radius: 4px;
              }
            }

            .percentage
            {
              position: absolute;
              top: 0;
              right: 0;

              font-weight: 800;
              padding: 2px 10px 2px;
              color: #888;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
