html
{
  scroll-behavior: smooth;
}

body
{
  background-color: grey;
}

.messages
{
  width: 100%;

  .alert
  {
    position: absolute;
    width: 100%;

    margin-left: -38px;
    margin-top: -16px;

    text-align: center;
    font-size: 20px;
  }
}

.container
{
  background: url("../../../media/resumePage/paper-bg2.png") no-repeat top left,
              url("../../../media/resumePage/paper-bg-bot.png") no-repeat bottom right;
  background-color: #fafafa;

  margin-top: 50px;
  margin-bottom: 200px;
  width: 975px;
  height: auto;

  .top-colors
  {
    .top-color
    {
      height: 8px;
      width: 20%;
      float: left;
    }
    .color1{background: #455ca8;}
    .color2{background: #45a891;}
    .color3{background: #a84551;}
  }

  .header-buttons
  {
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 6px;

    .btn-primary
    {
      background: #3b658a;
      color: #fafafa;
      border: #3b658a;
      outline: none;

      &:hover
      {
        background: #194368;
      }
    }

    .btn
    {
      display: flex;

      font-size: 14px;
      margin-right: 4px;

      height: 30px;
      width: 37px;
      padding-top: 8px;

      line-height: normal;
      transition: all 0.3s ease-in-out;

      span
      {
        &.hide-text-box
        {
          padding-top: 1px;
          overflow: hidden;
        }

        &.hide-text
        {
          font-size: 10px;
          max-width: 0;
          vertical-align: top;

          padding-left: 7px;

          white-space: nowrap;

          text-transform: uppercase;
          transition: all 0.4s ease-in-out;

        }
      }

      &:hover span
      {
        max-width: fit-content;
        transition: all 0.4s ease-in-out;
      }
    }
  }

  .resume_container
  {
    height: 245px;
    margin-top: 50px;
    position: relative;
    z-index: 99;

    .intro.title
    {
      font-size: 52px;
      color: #444444;
      letter-spacing: -1pt;
      border-bottom: 1px solid #455ca8;
      padding-bottom: 10px;
      font-weight: 200;
      text-align: left;

      .bold
      {
        color: #0F74B5;
        font-weight: bold;
      }
    }

    .intro.subtitle
    {
      font-size: 20px;
      text-align: left;
      color: #777777;
      margin-top: 10px;
      margin-bottom: 15px;
    }

    .intro.description
    {
      font-size: 14px;
    }

    .col-profile_pic
    {
      color: #CCC;

      .profile_pic
      {
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        width: 230px;
        height: 230px;
        border: 5px solid #0F74B5;
        overflow: hidden;
        margin: 0 auto;
        background: #fafafa;

        .img
        {
          text-align: center;
          background-size: cover;
          background-position: center;

          width: 208px;
          height: 208px;
          margin-top: 6px;
          margin-left: 6px;

          border-radius: 100%;
          -moz-border-radius: 100%;
          -webkit-border-radius: 100%;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  .sections_container
  {
    padding-right: 15px;
    padding-left: 15px;

    .new_section
    {
      display: block;
      width: 100%;

      margin-top: 50px;
      margin-left: 243px;

      .section_title
      {
        position: relative;

        text-transform: uppercase;
        color: #2a5479;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 20px;

        hr
        {
          position: absolute;
          top: 0;
          left: -95px;

          border-top: 3px solid #CCC;
          width: 50px;
        }

        .bullet_box
        {
          position: absolute;
          top: -7px;
          left: -47px;

          svg
          {
            width: 10px;
            color: #CCC;
          }
        }
      }

      .section_bullet
      {
        position: relative;
        width: 90%;

        .bullet_box
        {
          position: absolute;
          left: -123px;
          top: 35%;


          width: 56px;
          height: 56px;

          .bullet_svg
          {
            width: fit-content;
            position: absolute;
            top: 14px;
            left: 18px;

            svg
            {
              width: 20px;
              height: 20px;
              color: #CCC;
            }
          }

          &.new_svg
          {
            left: -135px;
            width: 80px;
            height: 80px;

            .bullet_svg
            {
              width: fit-content;
              position: absolute;
              top: 20px;
              left: 20px;

              svg
              {
                width: 40px;
                height: 40px;
                color: #CCC;
              }
            }
          }
        }

        .section_bullet_title
        {
          color: #3b658a;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 20px;
          margin-top: 14px;
          margin-bottom: 5px;
          padding-bottom: 5px;
          border-bottom: 1px solid #ccc;
        }

        .section_bullet_subtitle
        {
          font-size: 14px;
          font-weight: bold;
          color: #999999;
          margin-top: 5px;
          margin-bottom: 10px;

          .subtitle_svg
          {
            float: left;
            margin-right: 5px;
            line-height: 20px;

            svg
            {
              width: 16px;
              height: 16px;
              fill: currentColor;
            }
          }
        }

        .bullet_content
        {
          .text_content
          {
            font-size: 14px;
            line-height: 19px;
            color: #555555;
            margin: 0 0 10px;

            .btn-primary
            {
              background: #3b658a;
              color: #fafafa;
              border: #3b658a;
              outline: none;

              &:hover
              {
                background: #194368;
              }
            }

            .btn
            {
              display: flex;
              font-size: 28px;

              height: 40px;
              justify-content: center;
              align-items: center;
              margin-right: 6px;
              width: 40px;

              border-radius: 8px;
            }
          }

          .progress
          {
            display: block;
            position: relative;

            height: 25px;
            margin-bottom: 10px;

            .progress-bar
            {
              &.color1 {background: #5CA75A}
              &.color2 {background: #1E5DBF}
              &.color3 {background: #BF1E1E}

              .skill
              {
                background-color: rgba(25, 25, 25, 0.2);

                text-align: left;
                font-size: 13px;

                width: fit-content;
                padding: 3px 30px 2px 10px;

                border-radius: 4px;
              }
            }

            .percentage
            {
              position: absolute;
              top: 0;
              right: 0;

              font-weight: 800;
              padding: 2px 10px 2px;
              color: #888;
              font-size: 14px;
            }
          }

          ul.caroussel
          {
            padding-inline-start: 0px;
            list-style: none;
            margin: 0;
            padding: 0;

            li
            {
              display: flex;
            }
          }

          .caroussel
          {
            position: relative;
            height: 255px;

            overflow: hidden;

            .modal-footer
            {
              button
              {
                a
                {
                  text-decoration: none;
                  color: #fff;
                }
              }
            }

            .project
            {
              position: absolute;
              transition: transform 1s, left 1s,
                          opacity 1s, z-index 0s,
                          width 1s, padding-bottom 1s;
              opacity: 1;

              width: 30%;
              padding-bottom: 30%;

              box-shadow: 12px 16px 32px 0 rgba(0, 0, 0, 0.4);

              border-radius: 2%;

              overflow: hidden;

              .illustration
              {
                position: absolute;
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;

                transition: transform 1s;
              }

              &.hideLeft
              {
                left: 0%;
                opacity: 0;
                transform: translateX(-50%);
              }

              &.hideRight
              {
                left: 100%;
                opacity: 0;
                transform: translateX(-50%);
              }

              &.next {
                z-index: 5;
                left: 80%;
                transform: translateX(-50%);
              }

              &.prev {
                z-index: 5;
                left: 20%;
                transform: translateX(-50%);
              }

              &.selected
              {
                z-index: 10;
                left: 50%;
                transform: translateX(-50%);
                width: 35%;
                padding-bottom: 35%;
              }

              &:hover
              {
                .illustration
                {
                  transform: scale(1.2) rotate(4deg);
                }

                .attributes
                {
                  opacity: 1;
                }
              }

              .attributes
              {
                position: absolute;
                top: 2.5%;
                left: 2.5%;

                width: 95%;
                height: 95%;
                background-color: rgba(59, 101, 138, 0.7);
                color: #d6e0fd;

                border-radius: 10%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                opacity: 0;
                transition: opacity 0.8s;

                .look
                {
                  color: #d6e0fd;
                  background: None;
                  outline: 0;
                  border: None;

                  position: relative;
                  margin-top: 35px;

                  width: 50px;
                  height: 50px;

                  cursor: pointer;
                }

                .name
                {
                  font-size: 26px;
                  text-align: center;
                }
              }
            }
          }

          .buttons
          {
            button
            {
              z-index: 100;
              outline: None;

              border: none;
              padding: 8px 16px;
              background-color: rgba(59, 101, 138, 0.7);
              color: #fff!important;

              text-decoration: none;

              position: absolute;
              &.previous{top: 50%;}
              &.next{top: 50%; right:0;}
            }
          }

          .col-md-8
          {
            margin-top: 15px;

            background: rgba(78, 163, 237, 0.3);

            border-radius: 5px;
            box-shadow: 2px 2px 12px 0 rgba(24, 128, 219, 0.5);

            .form
            {
              padding: 18px 3px;

              .fields
              {
                display: flex;
                flex-direction: column;

                div, textarea
                {
                  display: flex;
                  align-items: center;
                  overflow: hidden;

                  height: 45px;
                  margin-bottom: 10px;
                  color: #ffffff;
                  box-shadow: 1px 0px 20px 0 #00528c47;
                  background: rgba(126, 183, 230, 0.85);
                  border-radius: 5px;
                  padding-right: 5px;
                }

                .input_field
                {
                  .label_field
                  {
                    display: flex;
                    justify-content: center;

                    width: 40px;
                    margin-bottom: 0;
                  }

                  input
                  {
                    height: 100%;
                    width: 100%;
                    background: rgba(126, 183, 230, 0);
                    color: #ffffff;

                    border: none;
                  }
                }

                textarea
                {
                  font-size: 15px;
                  padding-left: 6px;
                  border: none;
                }

                input, textarea
                {
                  &::placeholder
                  {

                    color: rgba(#174f81, 0.85);
                    font-style: bold;
                    font-size: 14px;
                  }

                  &:focus
                  {
                    outline: 0;
                  }
                }

                textarea
                {
                  height: auto;
                }

                button
                {
                  position: relative;
                  left: 25%;
                  justify-content: center;
                  align-items: center;

                  height: 50px;
                  width: 160px;
                  color: #fff;
                  font-family: 'Poppins', sans-serif;
                  font-size: 16px;
                  margin-top: 16px;
                  margin-bottom: 24px;

                  border: none;
                  padding: 0 20px;

                  background-color: rgba(#1880cb, 1);
                  border-radius: 25px;
                  box-shadow: 0 10px 30px 0px rgba(#1159af, 0.8);

                  outline: 0;
                  line-height: 1.2;
                  transition: all 0.4s;

                  &:hover
                  {
                    cursor: pointer;
                    background-color: #1118bb;
                    box-shadow: 0 10px 30px 0px rgba(#1118bb, 1);

                    input
                    {
                      background-color: rgba(#1118bb, 1);
                      width: 100%;
                      height: 100%;
                    }

                    i
                    {
                      transform: translateX(10px);
                    }
                  }

                  input
                  {
                    background-color: rgba(#1880cb, 1);
                    border: none;
                    color:#fff;
                    font-family: 'Poppins', sans-serif;
                    transition: all 0.4s;
                    width: 100%;
                    height: 100%;
                  }

                  i
                  {
                    position: relative;
                    top: -35px;
                    right: -35px;
                    transition: all 0.4s;
                  }
                }
              }
            }
          }

          .col-md-4
          {
            margin-top: 15px;
            padding-left: 30px;

            .contact_adress, .contact_phone, .contact_mail
            {
              h4
              {
                color: #3b658a;
                font-size: 20px;
                font-weight: bold;

                margin-bottom: 4px;

                text-transform: uppercase;
              }

              p
              {
                color: #555555;
              }
            }
          }
        }
      }
    }
  }

  .footer
  {
    display: block;

    margin-top: 210px;

    .section_bullet
    {
      margin-left: 258px;
      margin-bottom: 120px;

      position: relative;
      width: 90%;

      .bullet_box
      {
        position: absolute;
        left: -123px;

        width: 50px;
        height: 50px;

        .bullet_svg
        {
          width: fit-content;
          position: absolute;
          top: 14px;
          left: 18px;

          svg
          {
            width: 20px;
            height: 20px;
            color: #CCC;
          }
        }
      }
    }

    .thank_you
    {
      font-weight: 200;
      font-size: 67px;
      line-height: 48px;
      color: #aaaaaa;
      font-style: italic;
      position: relative;
      top: -5px;
    }

    .quote_block
    {
      background: #ce5f5f;
      color: #fff;
      padding-top: 17px;
      padding-bottom: 17px;
      text-align: center;
      margin-top: 300px;

      .quote
      {
        font-size: 22px;
        font-weight: 200;
        margin-bottom: 5px;
      }

      .author
      {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

svg
{
  overflow: visible;
  width: 100px;
}
